@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {

}
html{
	font-family: 'Roboto', sans-serif;
	height: 100%
}
body {
	height: 100%;
	margin: 0;
}
div#opcoes {
	position: absolute;
	top:100px;
	left:0px;
	height: calc(100% - 100px);
	width: 350px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	overflow-y: auto;
}
div#opcoes::-webkit-scrollbar {
	width: 10px;
}
div#opcoes::-webkit-scrollbar-track {
	background: #f1f1f1;
}
div#opcoes::-webkit-scrollbar-thumb {
	background: #888;
}
div#opcoes::-webkit-scrollbar-thumb:hover {
	background: #1d9a78;
}
div#map_canvas{
	top:0;
	position: absolute;
	left: 350px;
	width: calc(100% - 350px);
	height: 100%
}
div#conteudo{
	padding: 25px;
}
div#conteudo p{
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent: 0;
	font-size: 12pt;
	color: #404040;
}
div#conteudo h1{
	font-size: 15pt;
	color: #404040;
}
div#conteudo h2{
	text-indent: 0;
	font-size: 13pt;
	color: #404040;
}
header#opcoes{
	top:0;
	left: 0;
	width: 350px;
	height: 100px;
	position: absolute;
	background-color: #1d9a78;
}
header#opcoes h1{
	font-size: 30pt;
	text-align: center;
	color: white;
	left:50%;
	padding-top: 10px;
}
table#cadastro{
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}
table td{
	font-family: 'Roboto', sans-serif;
	color: #404040;
	font-size: 13pt;
}
table#apresentation{
	padding-top: 50px;
	padding-left: 25px;
}
input#entradas{
	outline:none;
	background-color: white;
	color: #404040;
	font-size: 12pt;
	border-color: #404040;
	border-radius: 7px;
	box-shadow: none;
	border: 1px solid #000;
	width:100%;
	padding: 5px;
}
input#botaoCadastro{
	outline:none;
	background-color: #1d9a78;
	color: #404040;
	font-size: 12pt;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	border: 0px solid #000;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
}
input#botaoCadastro:hover{
	color: white;
}
select{
	color: #404040;
	outline:none;
	background-color: white;
	border: 1px solid #000;
	border-radius: 7px;
	border-color: #404040;
	font-size: 12pt;
	padding: 5px;
}
select:hover{
	background-color: #E9E9E9;
}
footer#rodape {
	clear: both;
	position: relative;
	bottom: 0;
}
footer#rodape p{
	text-indent: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: #404040;
	text-align: center;
}
textarea{
	outline:none;
	background-color: white;
	color: #404040;
	font-size: 12pt;
	border-color: #404040;
	border-radius: 7px;
	box-shadow: none;
	border: 1px solid #000;
	width:100%;
	padding: 5px;
}
a#linkCadastro {
	text-decoration: none;
	outline:none;
	color: #404040;
	font-size: 25pt;
	box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	border: 0px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
}
a#linkCadastro:hover {
	background-color: #1d9a78;
	color: white;
}
a#acoes {
	font-size: 17pt;
	text-decoration: none;
	outline:none;
	color: #404040;
}
a#acoes:hover {
	color: white;
}
th {
	text-decoration: none;
	font-weight: normal;
	background-color: #1d9a78;
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
